
<!--
             ___     _                    __  __              _      _
    o O O   | __|   (_)      _ _    ___  |  \/  |   ___    __| |    (_)    __ _
   o        | _|    | |     | '_|  / -_) | |\/| |  / -_)  / _` |    | |   / _` |
  TS__[O]  _|_|_   _|_|_   _|_|_   \___| |_|__|_|  \___|  \__,_|   _|_|_  \__,_|
 {======|_| """ |_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|
./o--000'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'


-->

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>{{ title }} | Fire Media</title>{% endblock %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
  <nav id="navigation-bar">
    <ul class="navigation-list">
        <li class="navigation-element"><a id="name" href="{% url 'index' %}">FireMedia</a></li>
	</ul>
    <ul class="navigation-list">
        <li class="navigation-element"><a class="navigation-link" href="{% url 'index' %}">Blogs</a></li>
	</ul>
  </nav>
  <div>{% block content %}{% endblock %}</div>
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="pagination-previous" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt; Previous</a>
            {% else %}
                <a class="pagination-previous">No Previous Page</a>
            {% endif %}
            <p class="pagination-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
            {% if page_obj.has_next %}
                <a class="pagination-next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next &gt;</a>
            {% else %}
                <a class="pagination-next">No Next Page</a>
            {% endif %}
        </div>
    {% endif %}
  {% endblock %}
</body>
</html>
