{% extends "base.html" %}

{% block content %}

<div id="login-div">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h1 id="login-login">Login</h1>

    <p class="login-label">Username</p>
    {{ form.username }}
    <p class="login-label">Password</p>
    {{ form.password }}
    <br>

    <input id="login-input" type="submit" value="Login"/>
    <input name="next" type="hidden" value="{{ next }}"/>
  </form>
  {% if form.errors %}
    <p class="error-message">Sorry, Your Login Details Don't Match. Please Enter Them Again</p>
  {% endif %}
</div>

{% endblock %}
