#navigation-bar {
    padding: 14px;

	display: flex;
	display: -webkit-flex;

	justify-content:space-between;
	-webkit-justify-content:space-between;

	background-color: #0B75A6;
	background-image: linear-gradient(to left, #4E9BBE 0%, #0B75A6 50%);
}

.navigation-list {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
}

.navigation-element {
	font-size: 23px;
	margin: 9px;
	margin-left: 27px;
}

.navigation-element:hover {
	font-size: 23px;
	text-decoration: underline;
}

#name {
	color: #D5E0E8;
	font-size: 30px;

	font-family: 'Courier New', monospace;
	text-decoration: none;
}

.navigation-link {
	color: #FFFFFF;
	font-size: 27px;

    font-family: calibri;
	text-decoration: none;
}

.page-about {
    font-family: calibri;
    margin: 30px 0px 20px 40px;
    font-size: 40px;
}

#all-blogs{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 20px;
}

.blog {
    width: 500px;
    background-color: #f2f2f2;
    margin: 20px 0px 20px 40px;
    padding: 25px;
    border-radius: 15px;
    font-family: calibri;
}

.blog-title {
    font-size: 27px;
    margin-bottom: 10px;
}

.blog-author {
    font-size: 20px;
    margin-bottom: 17px;
}

.blog-published {
    font-size: 17px;
    margin-bottom: 7px;
}

.blog-description {
    font-size: 17px;
}

.index-text-1 {
    font-family: calibri;
    margin-left: 28px;
    font-size: 20px;
    width: 50%;
}

.pagination {
    display: grid;
    grid-template-columns: auto auto auto;

    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.pagination-previous {
    font-family: calibri;
    font-size: 20px;
    padding: 20px;
    text-align: right;
}

.pagination-page {
    font-family: calibri;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.pagination-next {
    font-family: calibri;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

#read-blog {
    background-color: #f2f2f2;
    margin: 60px auto;
    padding: 30px;
    border-radius: 15px;
    width: 25%;
    font-family: calibri;
}